<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <mat-icon>sensors</mat-icon>
            <b>Sensors</b>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          View sensor states
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="item" *ngFor="let sensor of sensors$">
        <mat-icon class="no-detection-color" [ngClass]="{'detection-color' : ( sensor | async)?.isAlarmOn}">
          sensors
        </mat-icon>
        <div class="data">
          <h2>{{ ( sensor | async)?.displayName }}</h2>
          <p *ngIf="!( sensor | async)?.isAlarmOn">No motion detected</p>
          <p *ngIf="( sensor | async)?.isAlarmOn">Motion detected</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
